.App-header {
    position: fixed;
    background-color: #282c34;
    height: 5rem;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}

.App-header .burger_icon {
    position: absolute;
    left: 1.5rem;
    display: flex;
    align-items: center;
    width: 2rem;
}

.App-header .burger_icon img {
    width: 100%;
}

.App-header h1 {
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

.layout_inner {
    padding: 4rem 0 6rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    -webkit-user-drag: none;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        padding: 0 20px;
    }
}

a {
    text-decoration: none;
    color: #282c34;
}